.acheter{
    background-color:whitesmoke;
    min-height: 100vh;
    font-size: 0.8rem;

    >.body{
        >.top{

        }

        >.bottom{
            position:fixed;
            bottom:0;
            background-color: white;
            width:100%;
            height:60px;
            display:flex;
            align-items:center;
            justify-content:space-around;
            
            border-top-left-radius: 40px;
            border-top-right-radius: 40px;
            font-weight: bold;

            >div{
                display:flex;
                flex-direction:column;
                align-items:center;
                >label{
                    font-size:0.6rem;
                    color:gray;
                    font-weight: normal;
                }
            }

            >.detection{
                font-size: 0.7rem;
                >p{
                    margin:0;
                    font-weight: normal;
                    
                }
            }

            >.annuler{
                padding:0.5rem;
                border:none;
                border-radius: 5px;

            }

            >.valider{
                padding:0.5rem;
                border:none;
                border-radius: 5px;
                background-color:green;
                font-weight: bold;
                color:white;
            }

            
            
        }
    }
}