.actions{
    background-color:whitsmoke;
    min-height: calc(100vh - 90px);
    >.top{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        padding-top:1rem;
        >h1{
            margin:0;
            padding:0;
            font-size: 1.4rem;
            
        }

        >p{
            margin:0;
            font-size: 0.8rem;
            font-weight: bold;
            color:rgba(0, 0, 0, 0.7);
        }
    }

    >.body{
        display:flex;
        align-items:center;
        justify-content:center;
        >.line{
            display:grid;
            grid-template-columns:150px 150px;
            column-gap:1rem;
            row-gap: 1rem;
            padding:1rem;
           
           
            

            >button{
               
                background-color: white;
                border:none;
                padding-bottom: 0.5rem;
                
                border-radius: 5px;
                display:flex;
                flex-direction: column;
                align-items:center;
                justify-content:center;
                font-size: 0.8rem;
                font-weight: bold;
                cursor:pointer;
                >img{
                    width:100%;
                    height:70px;
                    object-fit:cover;
                }

                >div{
                    background-color:black;
                    color:white;
                    width:2rem;
                    height:2rem;
                    display:flex;
                    align-items:center;
                    justify-content:center;
                    border-radius: 50%;
                    margin-top:0.7rem;
                }
            }
        }
    }
}