.footer{
    position:fixed;
    background-color: white;
    bottom:0;
    width:100%;
    height:60px;
    /*border-top-left-radius: 40px;
    border-top-right-radius: 40px;*/
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    >p{
        margin:0;
    }
    >p:first-child{
        font-size:0.7rem;
        color:gray;
    }
    p:last-child{
        font-size:0.7rem;
        color:black;
    }

}