.header_recherche{
    display:flex;
    gap:1rem;
    align-items:center;
    background-color: white;
    height:60px;
    >button{
        padding:0.5rem;
        border:none;
        background-color: white;
        display:flex;
        align-items:center;
        justify-content:center;
        cursor: pointer;
    }

    >div{
       border-bottom:1px solid silver;
       flex:1;
       margin-right: 0.5rem;
       display:flex;
       align-items:center;

       >input{
           flex:1;
           padding:0.5rem;
           font-size: 0.8rem;
           color:gray;
           border:none;
           outline:none;
       }

       >button{
           border:none;
           background-color: white;
       }
    }
}