.livre_detail{
    background-color:whitesmoke;
    min-height:100vh;
    >.body{
        margin:1rem;
        >.top{

        }
        >.bottom{
            position:fixed;
            bottom:0;
            background-color: white;
            width:100%;
            height:60px;
            border-top-left-radius: 40px;
            border-top-right-radius: 40px;
            display:flex;
            align-items:center;
            justify-content:center;
            >button{
                padding:0.6rem;
                background-color:#4a73e8;
                color:white;
                font-weight: bold;
                font-size:0.8rem;
                border:none;
                border-radius: 5px;
                display:flex;
                align-items:center;
                justify-content:center;
                width:200px
            }
        }
    }
}