.retrait{
    background-color:whitesmoke;
    min-height:100vh;

    >.body{
        >.top{
            display:flex;
            flex-direction:column;
            align-items:center;
            justify-content:center;
            padding-top: 1rem;
            border-bottom: 1px solid silver;
            margin-left: 1rem;
            margin-right: 1rem;
            padding-bottom: 0.5rem;
            >p{
                margin:0;
            }

            >.solde{
                font-size:1.2rem;
                font-weight: bold;
            }

            >.text_solde{
                font-size: 0.8rem;
                
            }
        }

        >.bottom{
            margin:1rem;
            >.line{
                display:flex;
                flex-direction:column;
                align-items:center;
                justify-content:center;
                margin-bottom: 1rem;
                >label{
                    font-size:0.8rem;
                    font-weight: bold;
                }

                >div{
                    display:flex;
                    border-bottom: 1px solid silver;
                    width:200px;
                    align-items:center;
                    background-color: white;
                    margin-top:0.2rem;
                    >input{
                        flex:1;
                        border:none;
                        padding:0.5rem;
                        outline:none;
                    }
                }

                >button{
                    padding:1rem;
                    width:100px;
                    border:1px solid silver;
                    border-radius: 5px;
                    background-color: white;
                    cursor: pointer;
                }

                >p{
                    font-size:0.8rem;
                    
                }
            }
        }
    }
}